.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 170px);
  justify-content: space-between;
  gap: 32px;
}

.card {
  padding: 8px;
  background-color: var(--theme-dark-brown);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  border: 2px solid var(--theme-black);
  will-change: transform;
  display: flex;
  flex-direction: column;
}

.card:hover{
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow: 0 4px 16px 8px rgba(70,176,119, 0.5);
}

.card:nth-child(even){
  background-color: var(--theme-maroon);
}

.card img{
  /* height: 240px; */
  border: 1px solid var(--theme-black);
  width: 100%;
  object-fit: contain;
}

.card, .card img{
  border-radius: 8px;
}

.card .name{
  color: var(--theme-white);
  text-align: center;
}