#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  --theme-black: #22201f;
	--theme-dark-brown: #4b2d2d;
  --theme-maroon:	#863841;
  --theme-white: #eeeeed;
  --theme-green: #46b077;
  height: 100%;
  font-family: 'Blood Crow';
}

@font-face {
  font-family: 'Blood Crow'; /* Give your font a name */
  src: url('fonts/bloodcrow.ttf') format('truetype'); /* Path to your .ttf file */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Blood Crow Narrow'; /* Give your font a name */
  src: url('fonts/bloodcrowc.ttf') format('truetype'); /* Path to your .ttf file */
  font-weight: normal;
  font-style: normal;
}


header{
  display: flex;
  background-color: var(--theme-black);
  color: white;
  align-items: center;
  gap: 16px;
  padding: 8px 48px;
  font-size: 2em;

  img{
    height: 48px;
    filter: invert();
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 64px;
  flex: 1;
}

.infoPanel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Blood Crow";
  font-size: 1.2em;
}

.instruction{
  font-size: 1.2em;
}

.scoreBoard{
  display: flex;
  flex-direction: column;
  text-align: end;
}

.selectDifficulty{
  font-size: 1.4em;
  select{
    font-size: 0.8em;
    padding: 2px 8px;
  }
}


footer{
  display: flex;
  background-color: var(--theme-dark-brown);
  justify-content: center;
  padding: 2px;
  
  a{
    display: flex;
    color: var(--theme-green);
    filter: brightness(120%);
    align-items: center;
    text-decoration: none;
  }
}