:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  --theme-black: #22201f;
	--theme-dark-brown: #4b2d2d;
  --theme-maroon:	#863841;
  --theme-white: #eeeeed;
  --theme-green: #46b077;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

